<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>EasyFood/Error 404</title>
  <!-- Font Awesome -->
   <link href="public/bootstrap/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="public/bootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="public/bootstrap/css/style.css" rel="stylesheet">
</head>
<body style="background-image:url('public/images/img%20(6)a.jpg')">
    <div id="error_p">
         <h1>404</h1>
        <h3>Page not found</h3>
        <p>contactez l'administration</p>
        <br><br><br>
        <h4><span>E</span>asy<span>F</span>ood</h4>
    </div>
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="public/bootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="public/bootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="public/bootstrap/js/mdb.min.js"></script>
  <script src="public/bootstrap/js/animate.js"></script>
</body>

</html>