<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>EasyFood</title>
  <!-- Font Awesome -->
   <link href="../public/bootstrap/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material D
  	esign Bootstrap -->
  <link href="../public/bootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../public/bootstrap/css/style.css" rel="stylesheet">
</head>
<body>

  <!-- en tête connexion et inscriptione-->
  <div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul>
        <li><i class="fa fa-phone"></i> +225 671 635 47</li>
        <li><i class="fa fa-envelope-o"></i> info@easyfood.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul>
        <li><a href="/"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="connexion" class="btn btn-default">Connexion</a></li>
        <li><a href="inscription" class="btn btn-success">Inscription</a></li>
      </ul>
    </div>
  </div>
</div>
 <!--fin -->
  <!-- barre de navigation -->
    <div class="navbar navbar-dark">
      <div class="navbar-header">
          <a href="/" class="navbar-brand"><span>E</span>asy<span>F</span>ood</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/" class="nav-item nav-link">Accueill</a></li>
            <li><a href="services" class="nav-link">services</a></li>
            <li class="active"><a href="#" class="nav-link">contacts</a></li>
            <li><a href="apropos" class="nav-link">A propos</a></li>
          </ul>
        </div>
   </div>
   <!-- fin -->
   <!-- contenu de la page contact -->
    <div id="contacts" class="container">
        <h1>Contacts</h1>
        <p class="p">contactez-nous pour avoir plus d'informations</p>
        <div class="contents">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p><span class="fa fa-map-marker"></span> Abidjan cocody Angré</p>
                    <p><span class="fa fa-phone"></span> +225 67163547</p>
                    <p><span class="fa fa-envelope"></span> info@easyfood.com</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form">
                        <form method="post">
                            <div class="row">
                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" name="nom" placeholder="entrez votre nom"/>
                               </div>
                               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                  <input type="email" class="form-control" name="email" placeholder="entrez votre email" /> 
                               </div>
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea type="textarea" class="form-control" name="email" placeholder="entrez votre message ici" rows="10" cols="10" ></textarea>
                               </div>
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <button type="submit" class="btn btn-secondary" name="contacts">envoyer</button>
                               </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="google-map">
                    <p>carte google map a insérer ici</p>
                </div>
            </div>
        </div>
    </div>    
   <!-- fin -->
   <!--- footer -->
   <div class="footer_contain">
   <footer id="footer" class="container">
       <!--premiere partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h6 class="heading1"><span>E</span>asyFood</h6>
      <nav>
        <ul class="nospace">
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Termes</a></li>
          <li><a href="#">Privé</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">boutique en ligne</a></li>
          <li><a href="#">carte du site</a></li>
        </ul>
      </nav>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <!-- deuxième partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h6 class="heading">Location</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          cocody angré, Abidjan
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +225 671 635 47/+225</li>
        <li><i class="fa fa-envelope-o"></i> info@agromarket.com</li>
      </ul>
    </div>
    <!-- troisième partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h6 class="heading">Nos nouvelles</h6>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Envoyer</button>
        </fieldset>
      </form>
    </div>
  </footer>
    </div>
    <!-- fin footer -->
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../public/bootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../public/bootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../public/bootstrap/js/mdb.min.js"></script>
<script src="../public/bootstrap/js/animate.js"></script>
</body>

</html>