<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>EasyFood</title>
  <!-- Font Awesome -->
   <link href="../public/bootstrap/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material D
  	esign Bootstrap -->
  <link href="../public/bootstrap/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../public/bootstrap/css/style.css" rel="stylesheet">
</head>
<body>

  <!-- en tête connexion et inscriptione-->
  <div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul>
        <li><i class="fa fa-phone"></i> +225 671 635 47</li>
        <li><i class="fa fa-envelope-o"></i> info@easyfood.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul>
        <li><a href="../index.html"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="connexion" class="btn btn-default">Connexion</a></li>
        <li><a href="inscription" class="btn btn-success">Inscription</a></li>
      </ul>
    </div>
  </div>
</div>
 <!--fin -->
  <!-- barre de navigation -->
   <div class="navbar navbar-dark">
      <div class="navbar-header">
          <a href="/" class="navbar-brand"><span>E</span>asy<span>F</span>ood</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/" class="nav-item nav-link">Accueill</a></li>
            <li class="active"><a href="#" class="nav-link">services</a></li>
            <li><a href="contacts" class="nav-link">contacts</a></li>
            <li><a href="apropos" class="nav-link">A propos</a></li>
          </ul>
        </div>
   </div>
   <!-- fin -->
   <!-- contenu de la page serives -->
    <div id="services" class="container">
        <h1>Services</h1>
        <p>Découvrez nos services</p>
        <div class="big_content">
            <h2>Suivi Alimentaire</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img src="../public/images/img%20(12).jpg" class="img-responsive">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>Chez <b><i>EasyFood</i></b>, votre alimentation est notre priorité,vous apprendre a manger mieux,tout en gardant à l'esprit ce qui est bon pour vous est notre vocation,c'est simple et il n'y a rien de compliqué, la vie est beaucoup plus belle quand on se sent mieux</p>
                </div>
            </div>
            <br>
            <h2>Suivi Physique</h2>
             <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img src="../public/images/img%20(5).jpg" class="img-responsive">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                     <p>Vous suivre physiquement est aussi au coeur de nos services. Une bonne alimentation est bon pour rester toujours vigoureux et en bonne santé pendant un certains temps,le <i>sport</i> vous permet de toujours garder cette forme et cette santé. Comme quoi l'alimentation et le sport vont de paire</p>
                </div>
            </div>
            <br>
            <h2>Faites le vous même</h2>
             <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img src="../public/images/img%20(6).jpg" class="img-responsive">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                     <p>oui manger équilibre et fait le sport sont les meilleurs remèdes contre la viellesse. Retarder le viellissement est un plaisir pour tout un chacun. Cependant apprendre à faire vous même de quoi vous maintenir en bonne santé, vous seras extrêmement bénéfique.<br>Chez <b><i>EasyFood</i></b>, nous voulons que vous fassiez les chose par vous mêmes, c'est pour ça que nous vous apprenons a concocter des petits plats bon pour vous.</p>
                </div>
            </div>
        </div>
    </div>    
   <!-- fin -->
   <!--- footer -->
   <div class="footer_contain">
   <footer id="footer" class="container">
       <!--premiere partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h6 class="heading1"><span>E</span>asyFood</h6>
      <nav>
        <ul class="nospace">
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Termes</a></li>
          <li><a href="#">Privé</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">boutique en ligne</a></li>
          <li><a href="#">carte du site</a></li>
        </ul>
      </nav>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a  class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <!-- deuxième partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h6 class="heading">Location</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          cocody angré, Abidjan
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +225 671 635 47/+225</li>
        <li><i class="fa fa-envelope-o"></i> info@agromarket.com</li>
      </ul>
    </div>
    <!-- troisième partie -->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h6 class="heading">Nos nouvelles</h6>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Envoyer</button>
        </fieldset>
      </form>
    </div>
  </footer>
    </div>
    <!-- fin footer -->
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../public/bootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../public/bootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../public/bootstrap/js/mdb.min.js"></script>
<script src="../public/bootstrap/js/animate.js"></script>
</body>

</html>